# pip install torch==1.13.1+cu117 torchvision==0.14.1+cu117 torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cu117
h5py==3.7.0
# hdf5==1.12.2 需要使用conda安装 conda install hdf5
matplotlib==3.6.2
# matplotlib-base==3.6.2 需要使用conda安装 conda install matplotlib-base==3.6.2
numpy==1.24.1
opencv-python==4.6.0.66
scipy==1.10.0
huggingface-hub==0.11.1
timm==0.6.12
tqdm==4.64.1
wandb==0.13.9